name: CI Workflow with Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: docker/build-push-action@v6
        with:
          push: false
          tags: fastapi-example
